#wrapper {
  min-height: 100vh;
  /* overflow-x: hidden;
  overflow-y: scroll; */
  display: block;
  position: relative;
  overflow:hidden;
  /* height: calc(100vh - 50rem); */
}

body, html {
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none !important;
  outline: none;
}

*:focus {
  outline: none;
}

.padding-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.fal.fa-angle-down {
  color:#15617d;
  font-size:34px;
  font-weight: 100 !important;
  margin-top:-8px;
}

p.teal {
  color:#15617d;
  font-size:22px;
  font-weight: 100;
  margin-bottom:0px !important;
}

h1.teal {
  color:#15617d;
  font-size:40px;
  font-weight: 700;
}

h1.navy {
  color:#07477c;
  font-size:33px;
  font-weight: 700;
  margin-top:3em;
}

.fa-arrow-right.navy {
  color:#07477c;
  font-size:33px;
  position: absolute;
  bottom: 18%;
}

.m10 {
  margin-top: 10%;
  margin-bottom: 5%;
}

.topBlock {
  background:#e6f2f5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding: .5em 1.4em 0em 1.4em;
  max-width: 300px;
  text-align: center;
  z-index: 9999999;
}

.top-search-input-wrapper {
  color: #15617d;
}
.trs-hide-btn {
  border: none;
  padding: 0px;
  display: contents;
  position: relative;
}

.w1000 {
  max-width:1000px;
  padding-left:2em;
  padding-right:2em;
}

i.fa-search.allResults {
  position: absolute;
  right: 17px;
  top: -.2rem;
  cursor: pointer;
  color: #07477d;
  font-weight: 500;
  font-size: 23px;
}

::placeholder {
  color:#07477d !important;
  font-weight: 500 !important;
  font-size: 22px;
  opacity: 1 !important;
}

input[type="text"].allResults {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #3796ad;
  border-radius: 0;
  padding-left: 0;
  text-overflow: ellipsis;
  color:#07477d;
  opacity: 1;
  padding-bottom: 1em;
}
.form-control {
  box-shadow: none !important;
}

.whiteOuter {
  position: absolute;
  margin: 0;
  height: 100%;
  top: 60px;
  width: 100%;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, .35);
  backdrop-filter: blur(15px);
  z-index: 99999999;
  bottom: 0;
  min-height: 1500px;

}

.whiteInner {
  background: white;
  opacity: .85;
  padding: 2em 1em;
  height: 30em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 3em;
  width: 92%;
  left: 4%;
  right: 4%;
  position: relative;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.33);
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.33);
}



#all {
  width: 100%;
  height: 600px;
  position: relative;
  background: url('../images/main2.png');
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;

}

#clicked0 {
  position: absolute;
  left: 10%;
  z-index: 100;
  bottom: 54%;

}
#clicked0 .box {
  width:5vw;
  max-width: 40px;
  transform:translateY(25%);
  transform:translateX(25%);
}

#clicked1 {
  position: absolute;
    left: 6%;
    z-index: 100;
    bottom: 18%;
}
#clicked1 .box {
  width: 18vw;
  max-width: 190px;
  transform:translateY(25%);
  transform:translateX(25%);
}


#clicked2 {
    position: absolute;
      left: 7%;
      z-index: 100;
      bottom: 17%;

}
#clicked2 .box {
  width:14vw;
  max-width: 140px;
  transform:translateY(25%);
  transform:translateX(25%);
}

#clicked3 {
  position: absolute;
  left: 7%;
  z-index: 100;
  bottom: 15%;
}
#clicked3 .box {
  width:14vw;
  max-width: 130px;
  transform:translateY(25%);
  transform:translateX(25%);
}

#clicked4 {
  position: absolute;
  left: 7%;
  z-index: 100;
  bottom: 34%;

}
#clicked4 .box {
  width:14vw;
  max-width: 43px;
  transform:translateY(25%);
  transform:translateX(25%);
}

#clicked5 {
  position: absolute;
  left: 15%;
  z-index: 100;
  bottom: 10%;
}
#clicked5 .box {
  width:14vw;
  max-width: 155px;
  transform:translateY(25%);
  transform:translateX(25%);
}

#clicked6 {
    position: absolute;
    left: 22%;
    z-index: 100;
    bottom: 28%;
}
#clicked6 .box {
  width: 25vw;
  max-width: 350px;
  transform:translateY(25%);
  transform:translateX(25%);
}

#clicked7 {
    position: absolute;
    left: 40%;
    z-index: 100;
    bottom: 19%;
}
#clicked7 .box {
  width: 10vw;
  max-width: 80px;
  transform:translateY(25%);
  transform:translateX(25%);
}

#clicked8 {
  position: absolute;
      right: 15.1%;
      z-index: 100;
      bottom: 27%;
      overflow: hidden;
}
#clicked8 .box {
  width: 20vw;
  max-width: 21%;
  transform: translateY(0%);
  transform: translateX(0%);
}

#clicked9 {
  position: absolute;
      right: 15.1%;
      z-index: 100;
      bottom: 29%;
}
#clicked9 .box {
  width: 20vw;
  max-width: 200px;
  transform: translateY(25%);
  transform: translateX(25%);
}

#clicked10 {
  position: absolute;
  right: 16.1%;
  z-index: 100;
  bottom: 35%;
}
#clicked10 .box {
  width: 14vw;
  max-width: 135px;
  transform: translateY(25%);
  transform: translateX(25%);
}



.content-spacer {
  height: 15vw;
}

.hero-img-container {
  height: calc(100vh - 50rem);
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height:100vh;
  /* height: calc(100vh - 50em); */
}

.picture {
  width: 100%;
  position: absolute;
  bottom: 0;

  z-index: 99999;
  left: 0;
  right: 0;
}

.rel {
  position:relative;
}

.transparent {
  opacity:0;
}

.hero-img-container.secondOne {
  bottom: 0 !important;
}

.hero-img {
  background-image: url(../images/main.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 34;
  left: 0;
  height: 600px;
  bottom: 0;
  top: 0;
  width: 100%;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  height:100vh;
  /* height: calc(100vh - 23em); */
}

.abso1 {
  position:absolute;
  bottom: 49px;
  z-index: 99;
  left: 134px;
  max-width: 165px;
}

.abso {
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  right:0;
}
.absoMiddle {
  position: absolute;
  width: 25%;
  bottom: 0;
  left: 45%;
  min-width: 200px;
  z-index: -1;
  max-width: 360px;
}

.abso0 {
  position: absolute;
  bottom: 75px;
  z-index: 9;
  left: 110px;
  max-width: 240px;
}

.abso00 {
  position: absolute;
  bottom: 353px;
  z-index: 9;
  left: 142px;
  max-width: 50px;

}

.abso2 {
  position: absolute;
  bottom: 170px;
  z-index: 9999;
  left: 110px;
  max-width: 100px;
}

.abso3 {
  position: absolute;
  bottom: 33px;
  position: absolute;
  z-index: 999;
  left: 142px;
  max-width: 165px;
}

.abso4 {
  position: absolute;
  bottom: 33px;
  position: absolute;
  z-index: 999;
  left: 300px;
  max-width: 175px;
}
.abso44 {
  bottom: 77px;
  position: absolute;
  z-index: 99999;
  left: 328px;
  max-width: 120px;
}
.abso444 {
  bottom: 77px;
  position: absolute;
  z-index: 99998;
  left: 328px;
  max-width: 120px;
}

.abso5 {
  position: absolute;
  bottom: 160px;
  position: absolute;
  z-index: 88;
  left: 420px;
  max-width: 350px;
}

.abso6 {
  position: absolute;
  bottom: 269px;
  position: absolute;
  z-index: 99999;
  left: 513px;
  max-width: 100px;
}

.abso7 {
  position: absolute;
  bottom: 95px;
  position: absolute;
  z-index: 99999;
  left: 646px;
  max-width: 86px;
}
