#wrapper {
  min-height: 100vh;
  /* overflow-x: hidden;
  overflow-y: scroll; */
  display: block;
  position: relative;
  overflow:hidden;
}

body, html {
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none !important;
  outline: none;
}

*:focus {
  outline: none;
}

.padding-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.fal.fa-angle-down {
  color:#15617d;
  font-size:34px;
  font-weight: 100 !important;
  margin-top:-8px;
}

p.teal {
  color:#15617d;
  font-size:22px;
  font-weight: 100;
  margin-bottom:0px !important;
}

h1.teal {
  color:#15617d;
  font-size:40px;
  font-weight: 700;
}

h1.navy {
  color:#07477c;
  font-size:33px;
  font-weight: 700;
  margin-top:3em;
}

.fa-arrow-right.navy {
  color:#07477c;
  font-size:33px;
  position: absolute;
  bottom: 18%;
}

.m10 {
  margin-top: 10%;
  margin-bottom: 5%;
}

.topBlock {
  background:#e6f2f5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding: .5em 1.6em;
  max-width: 300px;
  text-align: center;
  z-index: 9999999;
}

.top-search-input-wrapper {
  color: #15617d;
}
.trs-hide-btn {
  border: none;
  padding: 0px;
  display: contents;
  position: relative;
}

.w1000 {
  max-width:1000px;
  padding-left:2em;
  padding-right:2em;
}

i.fa-search.allResults {
  position: absolute;
  right: 17px;
  top: -.2rem;
  cursor: pointer;
  color: #07477d;
  font-weight: 500;
  font-size: 23px;
}

::placeholder {
  color:#07477d !important;
  font-weight: 500 !important;
  font-size: 22px;
  opacity: 1 !important;
}

input[type="text"].allResults {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #3796ad;
  border-radius: 0;
  padding-left: 0;
  text-overflow: ellipsis;
  color:#07477d;
  opacity: 1;
  padding-bottom: 1em;
}
.form-control {
  box-shadow: none !important;
}

/* .hero-img-container.secondOne {

  bottom: 0 !important;
}
.hero-img-container.secondOne {

}
.hero-img-container {
  height: calc(100vh - 4rem);
  position: relative;

  min-height: 40rem;
  padding-left: 1em;
  padding-right: 1em;
  max-height: 1000px;
} */

.whiteOuter {
  position: absolute;
  margin: 0;
  height: 100%;
  /* top: 0; */
  width: 100%;
  /* height: auto; */
  border-radius: 0px;
  background-color: rgba(255, 255, 255, .35);
  backdrop-filter: blur(15px);
  z-index: 99999999;
  bottom: 0;
  min-height: 75rem;

}

.whiteInner {
  background: white;
  opacity: .85;
  padding: 2em 1em;
  height: 30em;
  margin-left: 1em;
  margin-right: 1em;
  padding: 3em;
  width: 92%;
  left: 4%;
  right: 4%;
  position: relative;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.33);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.33);
  box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.33);
}



/* .hero-img {
    background-image: url(../images/background.png);
    min-height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    top: 0;
    z-index: -1;
    position: absolute;
    left: 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 9em;
    height: 650px;
} */



.hero-img-container {
    height: calc(100vh - 30rem);
    position: relative;
    display: flex;
    align-items: center;
    /* min-height: 40rem;
    padding-left: 1em;
    padding-right: 1em; */
    /* max-height: 78rem; */
}

.hero-img-container.secondOne {
    /* height: 60rem !important; */
    bottom: 0 !important;
}

.hero-img-container.secondOne {
    /* max-height: 60rem; */
}


.hero-img.secondOne {
    max-height: 93rem;
}

.hero-img {
    background-image: url(../images/background.png);
    height: inherit;
      min-height: inherit;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      width: 100%;
      left: 0;
      /* top: 0px; */
      z-index: -1;
      position: absolute;
      left: 0;
      max-height: 78rem;
      bottom: 0;

}
